{% extends 'layout.html' %}
{% block title %}Log in{% endblock %}
{% block main %}
    <div id="loginForm">
        <form id="loginCredentials" action="/login" method="post">
            <label for="username">Username </label><br>
            <input type="text" id="username" name="username" placeholder="JohnDoe"><br><br>
            <label for="password">Password </label><br>
            <input type="text" id="password" name="password" placeholder="GoodPassword123"><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}